---
# handlers file for wifi_access_point

- name: restart dhcpcd
  ansible.builtin.service:
    name: dhcpcd
    state: restarted

- name: restart hostapd
  ansible.builtin.service:
    name: hostapd
    state: restarted

- name: restart dnsmasq
  ansible.builtin.service:
    name: dnsmasq
    state: restarted

- name: restart iptables
  ansible.builtin.shell:
    cmd: "iptables-restore < /etc/iptables.rules.v4"
