version: "3.8"

services:
  immich-server:
    container_name: immich_server
    image: ghcr.io/immich-app/immich-server:release
    command: [ "start.sh", "immich" ]
    volumes:
      - "{{ photos_dir }}:/usr/src/app/upload"
    env_file:
      - .env
    ports:
      - "{{ immich_port }}:3001"
    depends_on:
      - redis
      - database
    restart: always
    networks:
      - proxy

  immich-microservices:
    container_name: immich_microservices
    image: ghcr.io/immich-app/immich-server:release
    command: [ "start.sh", "microservices" ]
    volumes:
      - "{{ photos_dir }}:/usr/src/app/upload"
    env_file:
      - .env
    depends_on:
      - redis
      - database
    restart: always
    networks:
      - proxy

  immich-machine-learning:
    container_name: immich_machine_learning
    image: ghcr.io/immich-app/immich-machine-learning:release
    volumes:
      - "{{ appdata_dir }}/immich-ml-cache:/cache"
    env_file:
      - .env
    restart: always
    networks:
      - proxy

  immich-web:
    container_name: immich_web
    image: ghcr.io/immich-app/immich-web:release
    env_file:
      - .env
    restart: always
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.immich.rule=Host(`immich.{{ domain_name }}`)"
      - "traefik.http.routers.immich.entrypoints=web"
      - "traefik.http.services.immich.loadbalancer.server.port=3000"

  redis:
    container_name: immich_redis
    image: redis:6.2-alpine@sha256:761b4624124f83758302aa973434113ada59b23a0a243805a35983a4451d4383
    restart: always
    networks:
      - proxy

  database:
    container_name: immich_database
    image: tensorchord/pgvecto-rs:pg14-v0.1.11
    env_file:
      - .env
    volumes:
      - "{{ appdata_dir }}/immich-db:/var/lib/postgresql/data"
    restart: always
    networks:
      - proxy

networks:
  proxy:
    external: true