---
# defaults file for wifi_access_point

wifi:
  interface: wlan1
  country: DE
  channel: 6
  ip: "10.20.30.1"
  network: "10.20.30.0/24"
  dhcp_range_start: "10.20.30.50"
  dhcp_range_end: "10.20.30.150"
  ssid: "Frey"
  password: "ChangeMe123!"  # Make sure to change this
  hw_mode: "g"
  ieee80211n: 1
  wmm_enabled: 1
  macaddr_acl: 0
  auth_algs: 1
  ignore_broadcast_ssid: 0
