bind_host: 0.0.0.0
bind_port: 3000
auth_name: admin
auth_pass: "{{ adguard_auth_pass }}" 
language: en
rlimit_nofile: 0
dns:
  bind_hosts:
  - 0.0.0.0
  port: 53
  rewrites:
  {% for item in dns_rewrites %}
  - domain: {{ item.name }}.{{ domain_name }}
    answer: {{ ansible_host }}
  {% endfor %}