services:
  speedtest:
    image: openspeedtest/latest:latest
    container_name: speedtest
    restart: unless-stopped
    ports:
      - "{{ speedtest_port }}:3000"
    networks:
      - proxy

  adguardhome:
    image: adguard/adguardhome:latest
    container_name: adguardhome
    restart: unless-stopped
    ports:
      - "{{ adguardhome_port }}:3000"
      - "53:53/tcp"
      - "53:53/udp"
    volumes:
      - "{{ appdata_dir }}/adguardhome/work:/opt/adguardhome/work"
      - "{{ appdata_dir }}/adguardhome/conf/AdGuardHome.yaml:/opt/adguardhome/conf/AdGuardHome.yaml"
    networks:
      - proxy

networks:
  proxy:
    external: true
