---
- name: Install security packages
  ansible.builtin.apt:
    name:
      - fail2ban
      - ufw
      - unattended-upgrades
      - logwatch
    state: present

- name: Configure UFW default policies
  community.general.ufw:
    direction: "{{ item.direction }}"
    policy: "{{ item.policy }}"
  loop:
    - { direction: 'incoming', policy: 'deny' }
    - { direction: 'outgoing', policy: 'allow' }
  when: enable_ufw

- name: Configure UFW rules for enabled services (TCP)
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
  loop: "{{ firewall_tcp_ports }}"
  when: enable_ufw

- name: Configure UFW rules for AdGuard DNS
  community.general.ufw:
    rule: allow
    port: "53"
    proto: "{{ item }}"
  loop: [ 'tcp', 'udp' ]
  when: features.networking

- name: Configure UFW rules for WiFi Access Point
  community.general.ufw:
    rule: allow
    port: "{{ item.port }}"
    proto: "{{ item.proto }}"
  loop:
    - { port: '53', proto: 'udp' }  # DNS
    - { port: '53', proto: 'tcp' }  # DNS
    - { port: '67', proto: 'udp' }  # DHCP
  when: features.wifi_access_point

# Allow access to services from WiFi AP network
- name: Configure UFW rules for services from WiFi AP network
  community.general.ufw:
    rule: allow
    port: "{{ item }}"
    proto: tcp
    from: "{{ wifi.ip | regex_replace('\\.[0-9]+$', '.0/24') }}"
  loop: "{{ firewall_tcp_ports }}"
  when: features.wifi_access_point

- name: Configure UFW for WiFi AP forwarding
  ansible.builtin.lineinfile:
    path: /etc/default/ufw
    regexp: '^DEFAULT_FORWARD_POLICY='
    line: 'DEFAULT_FORWARD_POLICY=ACCEPT'
  when: features.wifi_access_point

- name: Add NAT rule to UFW for WiFi AP
  ansible.builtin.blockinfile:
    path: /etc/ufw/before.rules
    block: |
      # NAT rules for WiFi Access Point
      *nat
      :POSTROUTING ACCEPT [0:0]
      -A POSTROUTING -s {{ wifi.network }} -o {{ wifi.client_interface }} -j MASQUERADE
      COMMIT
    marker: "# {mark} ANSIBLE MANAGED BLOCK FOR WIFI AP"
  when: features.wifi_access_point

- name: Enable UFW
  community.general.ufw:
    state: enabled
  when: enable_ufw

- name: Configure Fail2Ban jail
  ansible.builtin.template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
  notify: restart fail2ban
  when: enable_fail2ban

- name: Enable automatic security updates
  ansible.builtin.lineinfile:
    path: /etc/apt/apt.conf.d/50unattended-upgrades
    regexp: '^//.*"{{ ansible_distribution }}:{{ ansible_distribution_release }}-security";'
    line: '        "{{ ansible_distribution }}:{{ ansible_distribution_release }}-security";'
    state: present
