# yaml-language-server: $schema=https://goauthentik.io/blueprints/schema.json
version: 1
metadata:
  name: Frey Hub - Dashy OIDC Provider
  labels:
    blueprints.goauthentik.io/instantiate: "true"

entries:
  - model: authentik_providers_oauth2.oauth2provider
    id: dashy-provider
    identifiers:
      name: dashy-provider
    attrs:
      name: dashy-provider
      authentication_flow: !Find [authentik_flows.flow, [slug, default-authentication-flow]]
      authorization_flow: !Find [authentik_flows.flow, [slug, default-provider-authorization-implicit-consent]]
      client_type: public
      client_id: {{ landing_page.oidc.client_id | default('dashy') }}
      redirect_uris:
        - matching_mode: regex
          url: https://{{ landing_page.hostname }}(/.*)?
{% if landing_page.alt_hostname is defined and landing_page.alt_hostname %}
        - matching_mode: regex
          url: https://{{ landing_page.alt_hostname }}(/.*)?
{% endif %}
      signing_key: !Find [authentik_crypto.certificatekeypair, [name, "authentik Self-signed Certificate"]]
      access_code_validity: minutes=1
      access_token_validity: minutes=10
      refresh_token_validity: days=30
      property_mappings:
        - !Find [authentik_providers_oauth2.scopemapping, [scope_name, openid]]
        - !Find [authentik_providers_oauth2.scopemapping, [scope_name, email]]
        - !Find [authentik_providers_oauth2.scopemapping, [scope_name, profile]]
        - !Find [authentik_providers_oauth2.scopemapping, [scope_name, groups]]
      include_claims_in_id_token: true

  - model: authentik_core.application
    identifiers:
      slug: dashy
    attrs:
      name: Frey Landing
      slug: dashy
      provider: !KeyOf dashy-provider
      policy_engine_mode: any
      meta_launch_url: https://{{ landing_page.hostname }}
      meta_description: "Authenticated landing page and service catalog"
      meta_publisher: Frey Hub
