<Config>
  <Port>{{ prowlarr_port }}</Port>
  <UrlBase></UrlBase>
  <BindAddress>0.0.0.0</BindAddress>
  <LogLevel>Info</LogLevel>
  <AuthenticationMethod>Forms</AuthenticationMethod>
  <UpdateMechanism>Docker</UpdateMechanism>
  <AnalyticsEnabled>False</AnalyticsEnabled>
  <LogRotations>10</LogRotations>
  <EnableSsl>False</EnableSsl>
  <SslPort>9696</SslPort>
  <SslCertPath></SslCertPath>
  <SslCertPassword></SslCertPassword>
  <Branch>master</Branch>
  <LaunchBrowser>False</LaunchBrowser>
  <ApiKey>{{ prowlarr_api_key }}</ApiKey>
  <AuthenticationRequired>Enabled</AuthenticationRequired>
  <Username>{{ prowlarr_username }}</Username>
  <Password>{{ prowlarr_password }}</Password>
  <CalendarSyncTime>60</CalendarSyncTime>
  <ProxyEnabled>False</ProxyEnabled>
  <ProxyType>Http</ProxyType>
  <ProxyBypassFilter></ProxyBypassFilter>
  <ProxyHostname></ProxyHostname>
  <ProxyPort>80</ProxyPort>
  <ProxyUsername></ProxyUsername>
  <ProxyPassword></ProxyPassword>
</Config>