version: '3.8'

services:
  piper:
    image: rhasspy/wyoming-piper
    container_name: piper
    restart: unless-stopped
    ports:
      - "{{ piper_port }}:10200"
    networks:
      - proxy
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.piper.rule=Host(`piper.{{ domain_name }}`)"
      - "traefik.http.routers.piper.entrypoints=web"
      - "traefik.http.services.piper.loadbalancer.server.port=10200"

networks:
  proxy:
    external: true
    volumes:
      - "{{ appdata_dir }}/piper:/data"
    command:
      {% for voice in piper_voices %}
      - --voice
      - "{{ voice }}"
      {% endfor %}
      - --download-dir
      - /data
    networks:
      - default

networks:
  default:
    name: voice_network