api:
  dashboard: true
  insecure: true # Allows access to the dashboard over HTTP. Set to false in production.

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: false # Recommended for security
    network: proxy