[Unit]
Description=Frey Voice Assistant
After=network.target

[Service]
Type=simple
User={{ user.name }}
ExecStart=/usr/bin/python3 {{ storage.base_dir }}/voice-assistant/main.py
Restart=on-failure

[Install]
WantedBy=multi-user.target