# Minimal dnsmasq config for AP (DHCP + local DNS)
port=53
bind-interfaces
listen-address={{ network.wifi.ip }}

pid-file=/var/run/dnsmasq/dnsmasq.pid

interface={{ network.wifi.interface }}
except-interface=lo

# DHCP
dhcp-range={{ network.wifi.dhcp_range_start }},{{ network.wifi.dhcp_range_end }},255.255.255.0,12h
dhcp-authoritative
dhcp-leasefile=/var/lib/misc/dnsmasq.leases

# DHCP options: gateway and DNS point to the AP
dhcp-option=3,{{ network.wifi.ip }}
dhcp-option=6,{{ network.wifi.ip }}

# Local domain and host records
domain={{ network.domain_name }}
expand-hosts
local=/{{ network.domain_name }}/

{% if network.dns_rewrites is defined %}
{% for service in network.dns_rewrites %}
host-record={{ service.name }}.{{ network.domain_name }},{{ network.wifi.ip }}
{% endfor %}
{% endif %}

# Wildcard fallback: resolve all *.domain to AP gateway
address=/.{{ network.domain_name }}/{{ network.wifi.ip }}

# Upstream DNS servers
server=1.1.1.1
server=8.8.8.8

# Don't read /etc/resolv.conf directly to control upstream servers
no-resolv

# Keep logging minimal by default
#log-queries
#log-dhcp
