---
- name: Verify required variables are defined
  ansible.builtin.assert:
    that:
      - item.defined
    fail_msg: "Required variable '{{ item.name }}' is not defined."
    quiet: true
  loop:
    - name: storage.base_dir
      defined: "{{ storage.base_dir is defined }}"
    - name: automation.user.name
      defined: "{{ automation.user.name is defined }}"
  loop_control:
    label: "{{ item.name }}"


- name: Create the {{stack}} group
  ansible.builtin.group:
    name: "{{ vars[stack].group.name }}"
    gid: "{{ vars[stack].group.gid }}"
    state: present

- name: Create the {{stack}}_management user
  ansible.builtin.user:
    name: "{{ vars[stack].user.name }}"
    uid: "{{ vars[stack].user.uid }}"
    group: "{{ vars[stack].group.name }}"
    state: present


- name: Create docker stacks directory
  ansible.builtin.file:
    path: "{{ docker.stacks }}/{{ stack }}"
    state: directory
    owner: "{{ docker.user.uid }}"
    group: "{{ docker.group.name }}"
    mode: '0755'

- name: Create {{stack}} subdirectories
  ansible.builtin.file:
    path: "{{ vars[stack].dir }}/{{ item }}"
    state: directory
    owner: "{{ vars[stack].user.uid }}"
    group: "{{ vars[stack].user.groups }}"
    mode: '0755'
  loop: "{{ folders }}"
  when: folders is defined
