version: '3.8'

services:
  dockge:
    image: louislam/dockge:1
    container_name: dockge
    restart: unless-stopped
    ports:
      - "{{ (ports.infrastructure.dockge | default(5001)) }}:5001"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - "{{storage.appdata_dir }}/dockge:/app/data"
      - "{{ docker.stacks }}:/opt/stacks"
    environment:
      - DOCKGE_docker.stacks=/opt/stacks
      - DOCKGE_ENABLE_CONSOLE=true
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dockge.rule=Host(`dockge.{{ domain_name | default(network.domain_name | default('local')) }}`)"
      - "traefik.http.routers.dockge.entrypoints=web"
      - "traefik.http.services.dockge.loadbalancer.server.port=5001"

    