---
- name: restart hostapd
  ansible.builtin.service:
    name: hostapd
    state: restarted

- name: restart fail2ban
  ansible.builtin.service:
    name: fail2ban
    state: restarted

- name: reload ufw
  ansible.builtin.service:
    name: ufw
    state: restarted

- name: save iptables rules
  ansible.builtin.shell: |
    iptables-save > /etc/iptables/rules.v4
    ip6tables-save > /etc/iptables/rules.v6
  args:
    creates: /etc/iptables/rules.v4
  when: network.wifi is defined
  tags:
    - firewall
    - wifi_ap

- name: reload iptables
  ansible.builtin.service:
    name: netfilter-persistent
    state: reloaded