# roles/media/handlers/main.yml

- name: restart media stack
  community.docker.docker_compose_v2:
    project_src: "{{ storage.stacks }}/media"
    state: present
    restarted: true

- name: restart qbittorrent
  community.docker.docker_container:
    name: "{{ media.services.qbittorrent.container_name }}"
    state: started
    restart: true

- name: restart sonarr
  community.docker.docker_container:
    name: "{{ media.services.sonarr.container_name }}"
    state: started
    restart: true

- name: restart radarr
  community.docker.docker_container:
    name: "{{ media.services.radarr.container_name }}"
    state: started
    restart: true

- name: restart prowlarr
  community.docker.docker_container:
    name: "{{ media.services.prowlarr.container_name }}"
    state: started
    restart: true

- name: restart lidarr
  community.docker.docker_container:
    name: "{{ media.services.lidarr.container_name }}"
    state: started
    restart: true

- name: Restart Jellyfin
  community.docker.docker_container:
    name: jellyfin
    state: started
    restart: true

# Media Optimization Services Handlers

- name: Restart Tdarr
  community.docker.docker_container:
    name: tdarr
    state: started
    restart: true
  when: media.services.tdarr.enabled | default(false)

- name: Sync Recyclarr
  community.docker.docker_container_exec:
    container: recyclarr
    command: recyclarr sync
  ignore_errors: true
  when: media.services.recyclarr.enabled | default(false)

- name: Restart Unpackerr
  community.docker.docker_container:
    name: unpackerr
    state: started
    restart: true
  when: media.services.unpackerr.enabled | default(false)